.main {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
}

.info{
    margin-top: 1rem;
    color: white;
    font-weight: bold;
    width:80%;
    background-color: #be998e;
    border: 0;
    border-radius: 0;
}
.info:hover{
    color: rgb(252, 252, 252);
    background-color: #e1b7aa;
}
.info:focus-visible{
    color: rgb(252, 252, 252);
    background-color: #e1b7aa;
    border:0
}
.info:first-child:active{
    color: rgb(252, 252, 252);
    background-color: #e1b7aa;
    border:0
}

.buttonDefault {
    font-weight: bold;
    width: 10%;
    background-color: #be998e;
    border: 0;
    border-radius: 0;
}
.buttonDefault:hover{
    color: rgb(252, 252, 252);
    background-color: #e1b7aa;
}

.title{
    font-size: 2rem;
    text-align: left;
}

h1, h2, h3 {
    font-weight: bold;
    color: white; 
}

.textOutline{
    text-shadow:
    -1px -1px 0 rgba(215, 214, 214, 0.43),
    1px -1px 0 rgba(215, 214, 214, 0.43),
    -1px 1px 0 rgba(215, 214, 214, 0.43),
    1px 1px 0 rgba(215, 214, 214, 0.43);
}
.span {
    margin: 0 0.3rem 0 0.3rem;
}
.link {
    color: #516763;
}
.curly {
font-family: 'Charm', cursive;
    font-weight: lighter;
}
.list{
    padding-bottom: 3rem;
}

/*media*/
@media (max-width:480px){
    .buttonDefault{
        width:40%;
        margin-top: 1rem;
    }
    .cBody{
    display: flex;
    justify-content: center;
    align-items: center;
    }
}

